# Μάθημα 3: Βασικά πακέτα - Pandas

Επανάληψη:

## Τα βασικά: Τύποι δεδομένων και δομές δεδομένων:


Μάθαμε την προηγούμενη φορά τους τύπους δεδομένων:

• Integers: int( ) x = 8

• Float: float( ) x = 13.99

• Complex: x = 1a + 5d

• Bool: bool( ) x = False

• Strings: str( ) x = "Kalimera"

• Lists: list( ) x = [2, 98, 20, 32, -6, -21]

• Dictionaries: x = {"noumera": [98, 21], "thermokrasia": 9.3, "hlikia":15}


#### Νέοι τύποι δεδομένων:

• Panda - Dataframes:
    μοιάζουν με αρχεία του excel

## Πακέτο Pandas

![Image of operators](https://numfocus.org/wp-content/uploads/2016/07/pandas-logo-300.png)

Το πακέτο Pandas είναι μία open source βιβλιοθήκη που παρέχει ισχυρές και ταυτόχρονα εύκολες λειτουργίες και εργαλεία για ανάλυση δεδομένων στην Python. Τα Pandas αποτελούν τη ραχοκοκκαλιά των περισσότερων projects δεδομένων και συνήθως συνδυάζονται και με άλλα πακέτα. 

Τα pandas μας επιτρέπουν να χειριστούμε, να ταξινομούμε, να φιλτράρουμε και να τροποιοιούμε τα δεδομένα μας μέσω των πλαισίων δεδομένων - **DataFrames**.

##### Pandas-Dataframe: (όπως excel sheets)


Τα Pandas DataFrames είναι πλαίσια δεδομένων 2 διαστάσεων και μπορούν να περιέχουν διαφορετικούς τύπους δεδομένων, (αριθμούς, συμβολοσειρές κ.λπ., ακριβώς όπως ένα αρχείο του excel). 

Τα Pandas DataFrame αποτελούνται από 3 βασικά στοιχεία: τα data, τα rows και τα columns.

#### Δουλεύοντας με dataframes:

Πρώτα: import package: 

    • import numpy as np (χρειάζεται για τα Pandas)

    • import pandas as pd

#### Δημιουργία array:

In [2]:
import numpy as np

import pandas as pd

df_data = pd.DataFrame([[1,2],[2,3]])

Το DataFrame μπορεί επίσης να δημιουργηθεί από έτοιμα excel, csv, dictonairies, ndarray, lists, μέχρι και από αρχεία κειμένου.

*Παραδείγματα:*

In [3]:
df1 = pd.DataFrame(np.array( [[1, 2, 3], [4, 5, 6]] ))

Πιο περίπλοκα: πρώτα φτιάχνουμε μία λίστα - λεξικό από λίστες.

In [34]:
new_data = {'Onoma': ['Maria','Giorgos','Petros','Vasiliki','Alexandra', 'Popi'], 
            'Ilikia':[22,38,31,19,29,49], 
            'Poli':['Athens','Patra','Trikala','Sparti','Serres', 'Chios'], 'Epaggelma':['foititria','ilektrologos','kathigitis', 'foititria', 'anergi', 'daskala']}

In [35]:
df2 = pd.DataFrame(new_data)
df2

       Onoma  Ilikia     Poli     Epaggelma
0      Maria      22   Athens     foititria
1    Giorgos      38    Patra  ilektrologos
2     Petros      31  Trikala    kathigitis
3   Vasiliki      19   Sparti     foititria
4  Alexandra      29   Serres        anergi
5       Popi      49    Chios       daskala

Για να δούμε την αρχή και το τέλος του dataframe:
    
    df.head() 
    
    df.tail()

#### Indexing  και  Selecting Data


Για να πάρουμε ένα στοιχείο του DataFrame χρησιμοποιούμε τετράγωνες αγκύλες και το όνομα της στήλης ή συγκεκριμένης γραμμής. 

• Πρόσβαση στα columns με το όνομά τους:

In [36]:
df2['Ilikia']

0    22
1    38
2    31
3    19
4    29
5    49
Name: Ilikia, dtype: int64

In [37]:
df2[['Epaggelma', 'Poli']]

      Epaggelma     Poli
0     foititria   Athens
1  ilektrologos    Patra
2    kathigitis  Trikala
3     foititria   Sparti
4        anergi   Serres
5       daskala    Chios

#### Επιλογή γραμμής: 

Υπάρχει μια μοναδική μέθοδος που χρησιμοποιείται για να πάρουμε τα rows ενός DataFrame. το Index ξεκινά από το 0, πρώτα καλούμε το row και στην συνέχεια το column.

    • df.loc[ ] - επιστρέφει τα rows από το Pandas DataFrame.

    • df.iloc[ ] function - επιλέγει με βάση τη θέση 

Το df.iloc indexer μοιάζει πολύ με το df.loc απλά χρησιμοποιεί τη θέση (integer location) για να επιλέξει.

In [38]:
df2.loc[0][0]

'Maria'

In [39]:
df2.iloc[1]

Onoma             Giorgos
Ilikia                 38
Poli                Patra
Epaggelma    ilektrologos
Name: 1, dtype: object

Επιλογή όλων των rows και μερικών columns με τη μέθοδο iloc:

In [40]:
new = df2.iloc [ :, [1, 2]]

#### Άλλες λειτουργίες

• Προσθήκη ενός column:

    df.insert (loc= ? , column =?, value= ? )

*Παράδειγμα:*

In [41]:
df2.insert(loc=1, column= 'mathima', value = 'A')

• Ένωση διαφορετικών dataframes:

    • pd.merge(data1,data2, how=’right’)

    • df1.join(data2, how=’right’)

    • pd.concat()

**Προσοχή:** το how μπορεί να είναι: right, left, inner, outer – αναλόγως τι θα επιλέξετε

• Μετατόπιση (Transposing): 
    
    DataFrame.T

In [42]:
df = pd.DataFrame([[1,9],[5,3]])
df

   0  1
0  1  9
1  5  3

In [43]:
df.T

   0  1
0  1  5
1  9  3

#### Αλλαγή  index/ονόματα στηλών:

• Το Index κανονικά ξεκινά από το 0. Όταν φτιάχνουμε ένα DataFrame, έχουμε την επιλογή να προσθέσουμε το 'index' argument και να επιλέξουμε το index που θέλουμε.

    dataframe = pd.DataFrame(data, index = 'values')

Αλλιώς χρησιμοποιούμε το 

    set_index()

    • Ilikia:(22,38,31,19,29,49)

    • df3.set_index('Ilikia')

• Μέθοδος df.rename(): για να μετονομάσουμε στήλες 


**Παράδειγμα** : 

    newcols = {'Onoma': 'Mikro Onoma'}

    df2.rename(columns = newcols, inplace = True)

#### Στατιστική:

    • df.mean() επιστρέφει το mean των τιμών

    • df.median() επιστρέφει το median των τιμών

    • df.std() επιστρέφει ένα δείγμα του standard deviation

#### Λειτουργίες σε συγκεκριμένο  axis :

    axis= 0 ….. index
    
    axis= 1 ….. columns

• Περιγράφει τα στατιστικά

    df.describe()